<div id="globalfooter" th:fragment="globalfooter">
    <main>
        <section>
            <p>Supported by the Institute of Record</p>
            <p>All rights reserved Parallel Archive ©2008</p>
        </section>
        <div>
            <a th:href="@{|${@environment.getProperty('osa.appBaseUrl')}/terms_of_use|}">Terms of Use</a>
            <a th:href="@{|${@environment.getProperty('osa.appBaseUrl')}/user_manual|}">User Manual</a>
            <a th:href="@{|${@environment.getProperty('osa.appBaseUrl')}/privacy_policy|}">Privacy Policy</a>
            <a th:href="@{|${@environment.getProperty('osa.appBaseUrl')}/copyright_policy|}">Copyright Policy</a>
            <a th:href="@{|${@environment.getProperty('osa.appBaseUrl')}/collection_policy|}">Collection Policy</a>
            <a th:href="@{|${@environment.getProperty('osa.appBaseUrl')}/community_guidelines|}">Community Guidelines</a>
            <a th:href="@{|${@environment.getProperty('osa.appBaseUrl')}/contact_us|}">Contact</a>
            <a th:href="@{|${@environment.getProperty('osa.appBaseUrl')}/faq|}">Frequently Asked Questions</a>
        </div>
    </main>
</div>