<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="/favicon.ico">
        <link rel="stylesheet" th:href="@{/css/account.css}"/>
        <link rel="stylesheet" th:href="@{/css/general.css}"/>
        <link rel="stylesheet" th:href="@{/css/accountforms.css}"/>
        <link rel="stylesheet" th:href="@{/css/globalmenu.css}"/>
        <link rel="stylesheet" th:href="@{/css/collections.css}"/>
        <script async defer th:data-website-id="${@environment.getProperty('osa.umami.data-website-id')}" th:src="@{|${@environment.getProperty('osa.baseUrl')}/umami/umami.js|}"></script>
        <title>Parallel Archive</title>
    </head>
    <body>
        <div th:replace="fragments/globalmenu.html :: globalmenu (page='My Account', userMenuData=${userMenuData})"></div>
        <div id="account">
            <div id="spinner"></div>
            <div class="flex flex-justify-center section">
                <a href="/api/logout" class="button button-primary-500 flex">Log out</a>
            </div>
            <hr>
            <div class="flex flex-justify-center section">
                <form action="#" th:object="${userDisplayNameData}" method="post" class="username-preferences">
                    <h2>Set username preferences</h2>
                    <div class="feedback-container" feedback-container></div>
                    <label for="email" class="styled-input-label">Email</label>
                    <p id="email" th:text="*{email}"></p>
                    <label for="username" class="styled-input-label">Username</label>
                    <p id="username" th:text="*{displayName}"></p>
                    <label for="publicEmail">By checking the box below, you choose to publicly <b>show your registered email address</b> on the site as your username, including your publications. If unchecked, the generated unique hash above will be displayed as your username.</label>
                    <input type="checkbox" id="publicEmail" th:checked="*{publicEmail}"/>
                    <button type="submit" id="toggle-email-visibility" class="button button-primary-500 flex flex-justify-center section umami--click--toggle-email-visibility">Set preferences</button>
                </form>
            </div>
            <hr>
            <div class="flex flex-justify-center section">
                <form action="#" th:action="@{/changepassword}" th:object="${changePasswordData}" method="post" class="change-password-form">
                    <h2>Change my password</h2>
                    <div th:if="${success}" class="client-success">You have successfully changed your password.</div>
                    <div class="client-error" hidden="hidden">
                        <p class="client-error__copy">Passwords don't match.</p>
                        <img th:src="@{/css/warning.svg}" alt="" width="15" height="15">
                    </div>
                    <label class="styled-input-label" for="currentpass">Current Password</label>
                    <input
                    required
                    type="password"
                    name="currentpass"
                    th:field="*{oldPassword}"
                    class="styled-input"/>
                    <p th:if="${#fields.hasErrors('oldPassword')}" th:errorclass="form-error" th:errors="*{oldPassword}"></p>
                    <label class="styled-input-label" for="newpass">New Password</label>
                    <input
                    required
                    type="password"
                    name="newpass"
                    minlength="7"
                    class="styled-input"
                    th:field="*{newPassword}"
                    pwd-1/>
                    <p th:if="${#fields.hasErrors('newPassword')}" th:errorclass="form-error" th:errors="*{newPassword}"></p>
                    <label class="styled-input-label" for="newpassrepeat">Repeat New Password</label>
                    <input
                    required
                    type="password"
                    minlength="7"
                    name="newpassrepeat"
                    class="styled-input"
                    th:field="*{repeatNewPassword}"
                    pwd-2/>
                    <p th:if="${#fields.hasErrors('newPassword')}" th:errorclass="form-error" th:errors="*{newPassword}"></p>
                    <button type="submit" class="button button-primary-500 flex flex-justify-center section umami--click--account-password-change">Change Password</button>
                </form>
            </div>
            <hr>
            <div class="flex flex-justify-center section">
                <h2>Download my personal data</h2>
                <a class="button button-ghost-500 flex flex-justify-center umami--click--account-data-download" href="/api/user/data" target="_blank">Download</a>
            </div>
            <hr>
            <div class="flex flex-justify-center section">
                <h2>Permanently delete my account</h2>
                <button class="button button-warning" open-delete-modal>Delete my account</button>
                <div class="error-container" delete-error></div>
            </div>
            <div class="modal" id="delete-user-account-modal">
                <div class="modal-body">
                    <div class="modal-content">
                        <h2 class="font-weight-light mt-0">Delete Your Account?</h2>
                        <p>Clicking delete will permanently delete your account, including everything in Uploaded Images, Private Documents and in Private Collections.</p>
                        <p>Your email address on publihed documents on the Public Documents page will not display, instead 'Anonymous user' will be displayed.</p>
                        <div class="text-right">
                            <button id="delete-user-account-cancel" class="mt-1 button button-ghost-500">Cancel</button>
                            <button class="mt-1 button button-warning umami--click--account-delete" id="delete-user-account">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
            <div th:replace="fragments/globalfooter.html :: globalfooter"></div>
        </div>
        <script type="text/javascript" th:src="@{/js/utils.js}"></script>
        <script type="text/javascript" th:src="@{/js/globalmenu.js}"></script>
        <script type="text/javascript" th:src="@{/js/gdpr.js}"></script>
    </body>
    </html>