<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="stylesheet" th:href="@{/css/general.css}"/>
  <link rel="stylesheet" th:href="@{/css/accountforms.css}"/>
  <script async defer th:data-website-id="${@environment.getProperty('osa.umami.data-website-id')}" th:src="@{|${@environment.getProperty('osa.baseUrl')}/umami/umami.js|}"></script>
  <title>Parallel Archive</title>
</head>
<body>
    <div class="center-content" th:fragment="page-content">
        <form th:if="${#strings.isEmpty(feedback)}" class="forgot-password-form" action="#" th:action="@{/forgotpassword}" th:object="${recoveryEmailData}" method="post">
            <h1>Forgot Password</h1>
            <label>To reset your password, enter your email below</label>
            <input
            required
            type="email"
            name="email"
            th:field="*{email}"
            class="styled-input full-width"/>
            <p th:if="${#fields.hasErrors('email')}" th:errorclass="form-error" th:errors="*{email}"></p>
            <button type="submit" class="button button-primary-500">Reset Password</button>
            <div th:if="${#fields.hasErrors('global')}" th:replace="fragments/error :: errors(${#fields.errors('global')})">
        </form>
        <div th:if="${not #strings.isEmpty(feedback) and not #strings.isEmpty(feedback.resultCode)}">
            <h2 class="flex flex-justify-center">We've sent a recovery email to your email address.</h2>
            <div class="flex flex-justify-center flex-align-center forgotpass-nav-buttons">
                <a href="/login" class="button button-ghost-500">Login</a><span class="mr-1 ml-1">or go to</span><a href="/" class="button button-primary-500">Public Documents</a>
            </div>
        </div>
    </div>
</body>
</html>